*.pyc
.idea
.ipynb_checkpoints
output
data
__pycache__/
model/
req.txt
train.csv.gz
dnn__weighted_cross_entropy_with_logits_exp/
experiments.all_feat_sets.20190305-1222/
kaggle.submission/
merged_datasets/
models.experiment/
models/
npzdir/
random_forest_exp/
results.baseline/
results.experiment/
xgboost_exp.max_depth_12/
xgboost_exp/
xgboost_kaggle_higgs_exp/
dnn__default_exp/
